@model ProductVM
<div class="card">
    <div class="card-header">
        <h2>@(Model.Product.Id == 0 ? "Create" : "Edit") Product</h2>
    </div>
    <div class="card-body">
        <form method="post" onsubmit="syncQuillContent()" enctype="multipart/form-data">
            <input type="hidden" asp-for="Product.Id" />
            <input type="hidden" asp-for="Product.ImageUrl" />
            <div class="border p-3">
                <div asp-validation-summary="All"></div>
                <div class="mb-3">
                    <label asp-for="Product.Title" class="pb-1"></label>
                    <input asp-for="Product.Title" class="form-control" />
                    <span asp-validation-for="Product.Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <div class="row">
                       <div class="col-6">
                            <label class="pb-1">Image</label>
                            <input type="file" name="File" class="form-control" />
                       </div>
                       <div class="col-6">
                           <img src="@Model.Product.ImageUrl" class="img-fluid border"/>
                       </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.Description" class="pb-1"></label>
                    <div id="editor">@Html.Raw(Model.Product.Description)</div>
                    <input type="hidden" id="quillContent" name="Product.Description" />
                </div>
                <div class="mb-3">
                    <label asp-for="Product.ISBN" class="pb-1"></label>
                    <input asp-for="Product.ISBN" class="form-control" />
                    <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.Author" class="pb-1"></label>
                    <input asp-for="Product.Author" class="form-control" />
                    <span asp-validation-for="Product.Author" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.CategoryId" class="pb-1" />
                    <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                        <option value="">-- Select Category --</option>
                    </select>
                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.Price" class="pb-1"></label>
                    <input asp-for="Product.Price" class="form-control" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.Price50" class="pb-1"></label>
                    <input asp-for="Product.Price50" class="form-control" />
                    <span asp-validation-for="Product.Price50" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.Price100" class="pb-1"></label>
                    <input asp-for="Product.Price100" class="form-control" />
                    <span asp-validation-for="Product.Price100" class="text-danger"></span>
                </div>


                <div class="row">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">@(Model.Product.Id == 0 ? "Create" : "Update") Product</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary form-control">Return to Product List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Styles {
    <style>
        .ql-snow {
            background-color: #fff;
        }
        .ql-snow * {
            background-color:#fff;
            color:#000;
        }
    </style>
}

@section Scripts {
    <script>
        const quill = new Quill('#editor', {
          theme: 'snow'
        });
        function syncQuillContent() {
            document.getElementById('quillContent').value = quill.root.innerHTML;
        }
    </script>
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}